/* #mapid {
	position: static;
	height: 98vh; 
	width: 100%;
} */

body {
	padding: 0;
	margin: 0;
}
html, body, #mapid {
	height: 100%;
	width: 100vw;
}

/* .leaflet-top.leaflet-right .leaftlet-control-layers:nth-child(3) .leaflet-control-layers-toggle {
    background-image: url(images/icon.png);
} */

