/* #mapid {
	position: static;
	height: 98vh; 
	width: 100%;
} */

body {
	padding: 0;
	margin: 0;
}
html, body, #mapid {
	height: 100%;
	width: 100vw;
	font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* .leaflet-top.leaflet-right .leaftlet-control-layers:nth-child(3) .leaflet-control-layers-toggle {
    background-image: url(images/icon.png);
} */

.button1{
	background:none;
	border:none;
	margin:0;
	padding:0;cursor:
	pointer;
}